body {
    margin: 0; 
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 0px;
    transition: all 1s ease; 
}
.content {
    margin: auto;
    width: 50%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: smaller;
}
#sign_text{
    width: 100%;
    opacity: 0.9;
}
#sign_text_link{
    opacity: 1;
    color: white;
    font-weight: 700
}
.close-button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    padding: 0;
}

