.dress-styles {
  text-align: center;
  background-color: rgb(238, 238, 238);
  width: 70%; /* Змінено з 75% */
  border-radius: 30px;
  color: #000000;
  padding-bottom: 40px;
  padding-top: 30px;
  margin: auto; /* Залишено margin: auto */
}

.styles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%; /* Залишено 70% або ви можете змінити на 75% */
  margin: auto; /* Використовуємо margin: auto для горизонтального вирівнювання */
}

.style-row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.style {
  width: 30%;
  height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 30px;
  background-color: #333333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: width 0.3s ease;
}

.style:hover {
  background-color: #1f1f1f;
}

.style.casual {
  width: 60%;
}

.style.formal {
  width: 40%;
  /* background-image: url('C:/my_folder/Univer/3_kurs_1_sem/web/src/resources/placeholder.png'); */
}

.style.party {
  width: 40%;
}

.style.gym {
  width: 60%;
}
.style.active {
  width: 100%;
}